/* font style */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
.azeret-mono-bold{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight:800;
  font-style: normal;
}
.azeret-mono-bold-less{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
  }
.azeret-mono-small{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-size: 16;
    color: #0D1321;
  }
  .azeret-mono-normal{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    color: #0D1321;
  }
/* banner style */
.banner{
    background-image: url("../assets/Hero-bg.png");
    max-width: 1440px;
    height: 583px;
    background-position: center;
}
.banner-container{
    text-align: center;
    margin-left: 197px;
    margin-right: 197px;
    
}
.banner-description{
    padding-left: 65px;
    padding-right: 65px;
    margin-top: 24px;
    margin-bottom: 32px;;
}
.banner-image{
    margin-top: 23.14px;
    margin-bottom: 28.5px;
    width: 240px;
    height: 240px;
}
.banner-button{
    background-color: #0D1321;
    color:#FFFFFF;
    font-family:"Azeret Mono";
    width: 217px;
    height: 58px;
    border-radius: 8px;
    margin-bottom: 45px;
}

/* section Card style */
.card{
    margin:66px 135.28px 80.1px 131.72px;
    padding:71.20px 86.31px;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.02);
}
.card-container{
    background-color: #FFFFFF;
}
.card-title{
    text-align: center;
    font-family: Azeret Mono;
    font-size: 26.7px;
}
.card-description{
    text-align: center;
}
.semi-card{
    padding:42.72px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 28.5px;
    
}
semi-card-image{
    width:244px;
    height: 214px;
}
semi-card-title{
    font-size:24px;

}
.semi-card-details{
    margin-right: 88px;
    padding-right:99px;
}
.semi-card-btn{
    font-family:"Azeret Mono";
    font-weight: 600;
    background-color: #FFFFFF;
    padding: 10px 18px;
}
.semi-card-image-2{
    margin-right: 30px;
}

/* Inspiration section style */
inspiration-details{
    text-align: center;
    /* fixed this bug for aligning the parent div */
    margin:0 auto;
}

.inspiration-details>h2{
    font-size: 29px;
    text-align: center;
}
.inspiration-details>p{
    text-align: center;
    
}
.frame{
    border-radius: 16px;
    padding: 30px;
    background-color: rgba(13, 19, 33, 0.02);
    /* fixed this bug for deployed github-page alignment. put margin left value again and right value again to test */
    margin: 40px 132px 134px 135px;  
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.frame>iframe{
    border-radius: 16px;
}

/* Target section style */
.target{
    margin:0px 134px 99px 134px;

}
.target-cards{
    display: flex;
    justify-content:center;
    gap: 24px;   
    
}
.target-card{
    flex: 1;
}

.center{
    text-align:center;
}
.target-card-html{
    background: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    padding: 40px;
}
.target-card-css{
    background: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    padding: 40px;
}
.target-card-js{
    background: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
    padding: 40px;
}
.target-cards a{
    color: black;
}
.target>p{
    margin-bottom: 45px;
}
.support-details{
    background-image:linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url("../assets/handshake.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1015px;
    height: 279px;
    margin:45px 140px 71px 160px;
    border-radius: 16px;
    text-align: center;
}
.support-header{
    color: white;
    padding-top: 57px;
}
.support-info{
    color: white;
    padding-top: 10px;
    padding-bottom: 14px;
}
.support-input{
    padding: 19px;
    width: 488px;
    border-radius: 8px;
}
.support-submit{
    font-weight: 600;
    font-family: "Azeret Mono";
    padding: 19px;
    border-radius: 8px;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 28.48px 133.5px;
    align-items: center;
    background-color: rgba(13, 19, 33, 0.03);
    font-weight: 600;
    font-family: "Azeret Mono";
}
#footer a{
    text-decoration:none;
}